[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.20.0"
ics = "*"
lxml = "*"
cssselect = "*"

[dev-packages]
requests = ">=2.20.0"
ics = "*"
lxml = "*"
cssselect = "*"
pyinstaller = "*"

[requires]
python_version = "3.6"
