[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
ics = "*"
lxml = "*"

[dev-packages]
requests = "*"
ics = "*"
lxml = "*"
pyinstaller = "*"

[requires]
python_version = "3.6"
